# Простые типы данных

In [ ]:
my_integer = 10
type(my_integer)

In [ ]:
my_float = 5.5
type(my_float)

In [ ]:
type(5)

In [ ]:
my_string = 'Hello World!'
my_string_2 = "Hello World"
type(my_string_2)

In [ ]:
my_bool = True
# my_bool = False
type(my_bool)

In [ ]:
x = 5
y = 1
print(type(x > y))

In [ ]:
# преобразование типов
salary = 1000
print('Ваша годовая зарплата составляет ', salary, ' условных единиц')

In [ ]:
type(str(salary))

In [ ]:
print('Ваша годовая зарплата составляет ' + str(salary) + ' условных единиц')

In [ ]:
int('1000') + 100

In [ ]:
# неявное преобразование типов
print(1 + False)
# print(20 / 5.1)

## Строки

In [ ]:
1 + 2

In [ ]:
'1' + '2'

In [ ]:
my_string = 'Hello World'

In [ ]:
my_string.upper()

In [ ]:
my_string.lower()

In [ ]:
my_string.capitalize()

In [ ]:
my_string.replace('Hello', 'Goodbye')

In [ ]:
len(my_string)

## Индексация и срезы

In [ ]:
my_string = 'Hello World'

In [ ]:
my_string[2]

In [ ]:
my_string[-1]

In [ ]:
my_string[0:5]

In [ ]:
my_string = 'Hello World'
my_string[0:8:2]

In [ ]:
my_string[6:]

In [ ]:
my_string[:5]

Как выделить номер часа из даты следующего формата?

In [ ]:
date = '2019-08-27T23:59:00.932'

In [ ]:
date[11:13]

## Проверка на вхождение элемента в объект

In [ ]:
my_string = 'Hello World'
target_string = 'World'

if target_string in my_string:
    print('find!')

## f-строки

In [ ]:
name = 'oleg'
lang = 'python'

t = f"Hello, {name.capitalize()}, i know {lang} a bit"

print(t)
print(type(t))

In [ ]:
print(f'Hello {name}, i know {lang} a bit')

In [ ]:
print("My name is {0} and I'm {1}". format("Elias", 30))

In [ ]:
var1 = 'hello, my name is Oleg'
print( f'\nТекст = {var1}\n' )

# Списки

In [ ]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']

income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [ ]:
xxx = 'ИНДЕКС'

In [ ]:
xxx[-3:-1]

In [ ]:
print(type(month_list))
print(type(income_list))
print(type(income_by_months))

In [ ]:
# индексация элементов в списке
print(month_list[0])
print(income_list[-1])
print(income_by_months[-4][0])

In [ ]:
# срезы
print(income_by_months[0:2])  # 0, 1
print('--------------')
print(income_by_months[-8:-6])
print('--------------')
print(income_by_months[2:])
print('--------------')
print(income_by_months[:3])

In [ ]:
# можно обращаться к любому уровню вложенности
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
income_by_months[0][0]

In [ ]:
income_by_months[1][0]

In [ ]:
# изменение списков
income_by_months[0][1] = 13100
print(income_by_months)

In [ ]:
income_by_months[0:2] = [['Jan', 13200], ['Feb', 13900]]
print(income_by_months)

In [ ]:
a, b = [1, 2]

In [ ]:
a

In [ ]:
b

In [ ]:
income_by_months_2 = [['Nov', 15400], ['Dec', 17000]]
income_by_month = income_by_months + income_by_months_2
print(income_by_month)

## Распаковка списков

In [ ]:
data = ['первый', 'второй', 'третий']
first = data[0]

In [ ]:
first, second, third = ['первый', 'второй', 'третий']
first

In [ ]:
# когда число элементов неизвестно
first, *_ = ['первый', 'второй', 'третий']
first

In [ ]:
_

In [ ]:
first, *other, last =  ['первый', 'второй', 'третий', 'четвертый']

In [ ]:
other

In [ ]:
first

In [ ]:
last

In [ ]:
xxx=(first, last)
print (type(xxx))

## Операции со списками

In [ ]:
income_by_months

In [ ]:
# Удаляем элемент по индексу
del(income_by_months[-1])
income_by_months

In [ ]:
month_list

In [ ]:
# удаляем элемент по значению
month_list.remove('Sep')
print(month_list)

In [ ]:
# добавляем элемент в конец списка
income_by_months.append(['Dec', 17000])
income_by_months

In [ ]:
income_list

In [ ]:
# добавляем элемент по нужному индексу
income_list.insert(2, 1111111)
print(income_list)

In [ ]:
# считаем количество вхождений элемента в список
income_list.count(13000)

In [ ]:
income_list

In [ ]:
# узнаем индекс элемента в списка (только первое вхождение!)
income_list.index(13000, 2)

In [ ]:
# разворачиваем список
month_list.reverse()
month_list

In [ ]:
# узнаем длину списка
len(income_list)

In [ ]:
# сумма элементов
sum(income_list)

In [ ]:
income_list

In [ ]:
# максимальный элемент элементов
max(income_list)

In [ ]:
# минимальный элемент элементов
min(income_list)

In [ ]:
# сортировка по возрастанию
sorted(income_list, reverse=False)

In [ ]:
income_list

In [ ]:
# изменить порядок сортировки
sorted(income_list, reverse= True)

In [ ]:
# а это сортировка строк по алфавиту
sorted(month_list)

## Изменение списков

В примере ниже переменная a и b на самом деле указывают на один и тот же объект. В результате, при добавлении в b очередного элемента этот элемент добавляется и в исходном листе a

In [ ]:
a = [1, 2, 3]
b = a

In [ ]:
b.append(4)
'a = {}'.format(a)

In [ ]:
id(a) , id(b)

Используем модуль copy

In [ ]:
import copy

In [ ]:
a = [1, 2, 3]
b = copy.copy(a)

In [ ]:
b

In [ ]:
print('список_b = {}'.format(b))	#1
print(f'список_b = {b}')		#2

In [ ]:
print("My name is {0} and I'm {1}". format("Elias", 30))

var1 = 'Elias'
var2 = 30
print(f'My name is {var1} and I\'m {var2}')

## Списки и строки

In [ ]:
queries_string = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

In [ ]:
# преобразование строки в список (например, из CSV-файла)
queries_list = queries_string.split(',')
queries_list

In [ ]:
len(queries_list[0].split(' '))

In [ ]:
len(queries_list[0].split(' '))

In [ ]:
# Преобразование списка в строку

print(', '.join(['Столбец 1', 'Столбец 2', 'Столбец 3']))

In [ ]:
# проверка вхождения элемента в список:

# 'Москва' in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']
'Москва' not in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']

# Tuple (кортежи)

In [ ]:
salary_tuple = (1000, 1200, 1300, 900, 800)
# type(salary_tuple)
type(list(salary_tuple))

In [ ]:
list(salary_tuple)

In [ ]:
# кортеж из одного элемента задается так:
t = ('one', )

In [ ]:
type(t)

In [ ]:
# без запятой получится строка
type( ('one') )

In [ ]:
# функция zip
salaries = [1000, 1200, 1300, 900, 800, 1000]
names = ['Robert', 'Jane', 'Liza', 'Richard', 'John']

salaries_by_names = zip(names, salaries)
print(salaries_by_names)
print(list(salaries_by_names))

In [ ]:
list(salaries_by_names)

# Циклы

## Цикл while

In [ ]:
x = 5
while x != 0:
    x -= 1
    print(x)
    #break
    
print('Я прекратил работу')

In [ ]:
x = 7
while x != 0:
    if x % 2 == 0:
        print(x, '- четное число')
    else:
        print(x, '- нечетное число')
    x = x - 1

## Цикл for

In [ ]:
# итерация по строкам
company_name = 'Orange'
for letter in company_name:
    print(letter)
    break
#     letter = letter.capitalize()
#     print(letter)
# print(letter)

In [ ]:
# итерация по спискам
companies_capitalization = [
    ['Orange', 1.3],
    ['Maxisoft', 1.5],
    ['Headbook', 0.8],
    ['Nicola', 2.2]
]

In [ ]:
for company in companies_capitalization:
#     print(company)
    print(company[0], '_capitalization is_', company[1])
#     print('end of iteration')

## break, pass, continue

In [ ]:
phrase = '640Кб должно хватить для любых задач. Билл Гейтс (по легенде)'

In [ ]:
for letter in phrase:
    if letter == ' ':
        break
    print(letter, end='')

In [ ]:
for letter in phrase:
    if letter == ' ':
        continue
    print(letter)
print('finish loop')

In [ ]:
for letter in phrase:
    if letter == ' ':
        pass
    print(letter)
print('finish loop')

### Функции range и enumerate

In [1]:
range(10)
type(range(10))

range

In [ ]:
list(range(2, 10, 5))

In [ ]:
range(10**2)

In [ ]:
for i in range(10**2):
    print(i)

In [ ]:
# с указанием левой и правой границы
for i in range(3, 20):
    print(i)

In [ ]:
# третий аргумент - шаг
for i in range(3, 20, 5):
    print(i)

In [ ]:
# enumerate позволяет получить индекс каждого элемента
#type(enumerate([1, 2, 3, 4, 5]))
list(enumerate([1, 2, 3, 4, 5]))

In [ ]:
# от меня на понимание
companies_capitalization = [
    ['Orange', 1.3],
    ['Maxisoft', 1.5],
    ['Headbook', 0.8],
    ['Nicola', 2.2]
]
list(enumerate(companies_capitalization))

In [ ]:
companies_capitalization = [
    ['Orange', 1.3],
    ['Maxisoft', 1.5],
    ['Headbook', 0.8],
    ['Nicola', 2.2]
    , ['xxx1', 5.1]
    , ['xxx2', 5.2]
    , ['xxx3', 5.3]
    , ['xxx4', 5.4]
    , ['xxx5', 5.5]
]

for i, company in enumerate(companies_capitalization):
    print(i+1, company[0], 'capitalization is', company[1])

In [ ]:
for i, company in enumerate(companies_capitalization):
    print(i, company)
    
    if i >= 2:
        break

## Попрактикуемся

Имеется структура данных cook_book, в которой хранится информация об ингредиентах блюд и их количестве в расчете на одну порцию и переменная, в которой хранится количество людей, на которых необходимо приготовить данные блюда:

In [ ]:
cook_book = [
  ['салат',
      [
        ['картофель', 100, 'гр.'],
        ['морковь', 50, 'гр.'],
        ['огурцы', 50, 'гр.'],
        ['горошек', 30, 'гр.'],
        ['майонез', 70, 'мл.'],
      ]
  ],
  ['пицца',  
      [
        ['сыр', 50, 'гр.'],
        ['томаты', 50, 'гр.'],
        ['тесто', 100, 'гр.'],
        ['бекон', 30, 'гр.'],
        ['колбаса', 30, 'гр.'],
        ['грибы', 20, 'гр.'],
      ],
  ],
  ['фруктовый десерт',
      [
        ['хурма', 60, 'гр.'],
        ['киви', 60, 'гр.'],
        ['творог', 60, 'гр.'],
        ['сахар', 10, 'гр.'],
        ['мед', 50, 'мл.'],  
      ]
  ]
]

In [ ]:
person = 5

Необходимо вывести пользователю список покупок необходимого количества ингредиентов для приготовления блюд на определенное число персон в следующем виде:

Салат:  
картофель, 500гр.  
морковь, 250гр.  
огурцы, 250гр.  
горошек, 150гр.  
майонез, 350мл.  

Пицца:  
сыр, 250гр.  
томаты, 250гр.  
тесто, 500гр.  
бекон, 150гр.  
колбаса, 150гр.  
грибы, 100гр.  

Фруктовый десерт:  
хурма, 300гр.  
киви, 300гр.  
творог, 300гр.  
сахар, 50гр.  
мед, 250мл.

In [ ]:
for item in cook_book:
    print(item[0].capitalize())
    
    for line in item[1]:
        meal, weight, gr = line
        weight = weight * person
        print(meal, weight, gr)
    
    print('')

## List comprehension

In [10]:
# Дана последовательность чисел. Мы хотим оставить только те, что делятся на 5
sequence = range(0, 40, 3)
list(sequence)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]

In [42]:
# решение в лоб
sequence = range(0, 40, 3)
for x in sequence:
    if x % 5 == 0:
        print(x**2)

0
225
900

In [44]:
[x**2 for x in sequence if x % 5 == 0]

[0, 225, 900]

In [45]:
# если хотим получить отфильтрованный лист, то будет даже так

sequence = range(0, 40, 3)
filtered_sequence = []

for num in sequence:
    if num % 5 == 0:
        filtered_sequence.append(num)

print(filtered_sequence)

[0, 15, 30]

In [75]:
sequence = range(0, 40, 3)
print(list(sequence))
[num_**2 for num_ in sequence if num_ %2 else num_ - 1]

SyntaxError: invalid syntax (<ipython-input-75-1082023efe0e>, line 3)

In [70]:
[num**2 for num in sequence if num % 5 == 0 else num-1]

SyntaxError: invalid syntax (<ipython-input-70-e35d5220a824>, line 1)

In [77]:
[num**2 if num%5 ==0 else num-1 for num in sequence]

[0, 2, 5, 8, 11, 225, 17, 20, 23, 26, 900, 32, 35, 38]

In [48]:
[num for num in sequence if num % 5 == 0]

[0, 15, 30]

In [49]:
[w for w in sequence if w % 5 == 0]

[0, 15, 30]

In [55]:
# с list comprehension получается покороче

#[x**2 for x in sequence if x % 5 == 0]

[0, 2, 36, 8, 144, 14, 324, 20, 576, 26, 900, 32, 1296, 38]

Пример вычисления метрики из набора списков. Столбцы в каждой строке:
- дата
- номер счетчика
- количество визитов

Найдем среднее количество визитов по нашим данным

In [80]:
api_response = [
    ['2017-12-26', '777', 184],
    ['2017-12-27', '111', 146],
    ['2017-12-28', '777', 98],
    ['2017-12-29', '777', 206],
    ['2017-12-30', '111', 254],
    ['2017-12-31', '777', 89],
    ['2018-01-01', '111', 54],
    ['2018-01-02', '777', 68],
    ['2018-01-03', '777', 74],
    ['2018-01-04', '111', 89],
    ['2018-01-05', '777', 104],
    ['2018-01-06', '777', 99],
    ['2018-01-07', '777', 145],
    ['2018-01-08', '111', 184],
]

In [78]:
[element[2] for element in api_response if element[1] == '777']

[184, 98, 206, 89, 68, 74, 104, 99, 145]

In [ ]:
for element in api_response:
    print(element[2])

In [81]:
sum([x[2] for x in api_response])/len(api_response)

128.14285714285714

## Множества (set)
Набор неповторяющихся элементов в случайном порядке

In [82]:
data_scientist_skills = set(['Python', 'R', 'SQL', 'Tableau', 'SAS', 'Git'])
data_engineer_skills = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [83]:
set([1, 2, 1])

{1, 2}

In [84]:
# логическое ИЛИ – что нужно знать data-scientst, который по совместительству data-engineer
print(data_scientist_skills.union(data_engineer_skills))
print(data_scientist_skills | data_engineer_skills)

{'SQL', 'Tableau', 'SAS', 'Python', 'Hadoop', 'Java', 'R', 'Scala', 'Git'}
{'SQL', 'Tableau', 'SAS', 'Python', 'Hadoop', 'Java', 'R', 'Scala', 'Git'}

In [86]:
# логическое И – что нужно знать и data-scientist и data-engineer
print(data_scientist_skills.intersection(data_engineer_skills))
print(data_scientist_skills & data_engineer_skills)

{'SQL', 'Python', 'Git'}
{'SQL', 'Python', 'Git'}

In [87]:
# разность множеств – что знает data-scientist, но не знает data-engineer (и наоборот)
# print(data_scientist_skills.difference(data_engineer_skills))
# print(data_scientist_skills - data_engineer_skills)
print(data_engineer_skills.difference(data_scientist_skills))
print(data_engineer_skills - data_scientist_skills)

{'Hadoop', 'Java', 'Scala'}
{'Hadoop', 'Java', 'Scala'}

In [90]:
# симметричная разность множеств – что такого знают data-scientist и data-engineer, чего не знают они оба
# print(data_scientist_skills.symmetric_difference(data_engineer_skills))
# print(data_scientist_skills ^ data_engineer_skills)
print(data_engineer_skills.symmetric_difference(data_scientist_skills))
print(data_engineer_skills ^ data_scientist_skills)

{'Hadoop', 'Tableau', 'SAS', 'Java', 'R', 'Scala'}
{'Hadoop', 'Tableau', 'SAS', 'Java', 'R', 'Scala'}

In [ ]:
# Из списка можно убрать все повторения просто обратив его в set!

# Словари

In [92]:
salaries = {
    'John': 1200,
    'Mary': 500,
    'Steven': 1000,
    'Liza': 1500
}

In [94]:
# обращение к элементу словаря
salaries['John']

1200

In [98]:
# удаляем элемент из словаря
del(salaries['Liza'])
salaries

{'John': 1200, 'Mary': 2000, 'Steven': 1000}

In [100]:
# добавляем элемент в словарь
salaries['Mary'] = 2000
salaries

{'John': 1200, 'Mary': 2000, 'Steven': 1000}

In [102]:
# безопасно получаем значение по ключу
# salaries['Oleg']
# print(salaries.get('Oleg', 'Not found'))
salaries.get('Liza', 'Not Found')

'Not Found'

In [115]:
# проверка на наличие ключа в словаре
recruit = 'Andrey'

if recruit in salaries:
    print('Значение для ключа уже существует')
else:
    print('Добавляю новый ключ')
    salaries[recruit] = 2200

print(salaries)

Значение для ключа уже существует
{'John': 1200, 'Mary': 2000, 'Steven': 1000, 'Andrey': 6200, 'Paul': 3000}

In [116]:
salaries['Andrey'] += 2000
print(salaries)

{'John': 1200, 'Mary': 2000, 'Steven': 1000, 'Andrey': 8200, 'Paul': 3000}

In [110]:
# Можно использовать метод setdefault
# setdefault не изменяет значение, если ключ уже был в словаре

salaries.setdefault('Mary', 3000)
# salaries
# salaries.setdefault('Paul', 3000)
salaries

{'John': 1200, 'Mary': 2000, 'Steven': 1000, 'Andrey': 2200, 'Paul': 3000}

In [117]:
# перейдем к более сложному словарю
staff_dict = {
    'Robert': {'salary': 800, 'bonus': 200}, 
    'Jane': {'salary': 200, 'bonus': 300}, 
    'Liza': {'salary': 1300, 'bonus': 200}, 
    'Richard': {'salary': 500, 'bonus': 1200}
}

In [118]:
staff_dict['Robert']['bonus']

200

In [119]:
staff_dict['Oleg'] = {'salary': 1000000, 'bonus': 300}
staff_dict

{'Robert': {'salary': 800, 'bonus': 200},
 'Jane': {'salary': 200, 'bonus': 300},
 'Liza': {'salary': 1300, 'bonus': 200},
 'Richard': {'salary': 500, 'bonus': 1200},
 'Oleg': {'salary': 1000000, 'bonus': 300}}

In [122]:
# получаем только ключи/значения из словаря (очень пригодиться в циклах)
# print(staff_dict.keys())
# print(staff_dict.values())
# print(staff_dict.items())

print(list(staff_dict.keys()))
print('')
print(list(staff_dict.values()))
print('')
print(list(staff_dict.items()))

['Robert', 'Jane', 'Liza', 'Richard', 'Oleg']

[{'salary': 800, 'bonus': 200}, {'salary': 200, 'bonus': 300}, {'salary': 1300, 'bonus': 200}, {'salary': 500, 'bonus': 1200}, {'salary': 1000000, 'bonus': 300}]

[('Robert', {'salary': 800, 'bonus': 200}), ('Jane', {'salary': 200, 'bonus': 300}), ('Liza', {'salary': 1300, 'bonus': 200}), ('Richard', {'salary': 500, 'bonus': 1200}), ('Oleg', {'salary': 1000000, 'bonus': 300})]

In [ ]:
# итерация по словарям
# так бы было без цикла
print("Robert's salary:", staff_dict['Robert']['salary'])
print("Jane's salary:", staff_dict['Jane']['salary'])
print("Richard's salary:", staff_dict['Richard']['salary'])

In [127]:
for person in staff_dict:
    print(person)

Robert
Jane
Liza
Richard
Oleg

In [134]:
for key in staff_dict.keys():
    print(key)

Robert
Jane
Liza
Richard
Oleg

In [140]:
staff_dict

{'Robert': {'salary': 800, 'bonus': 200},
 'Jane': {'salary': 200, 'bonus': 300},
 'Liza': {'salary': 1300, 'bonus': 200},
 'Richard': {'salary': 500, 'bonus': 1200},
 'Oleg': {'salary': 1000000, 'bonus': 300}}

In [136]:
for value in staff_dict.values():
    print(value)

{'salary': 800, 'bonus': 200}
{'salary': 200, 'bonus': 300}
{'salary': 1300, 'bonus': 200}
{'salary': 500, 'bonus': 1200}
{'salary': 1000000, 'bonus': 300}

In [147]:
for key, value in staff_dict.items():
    print(key, value['salary'])

Robert 800
Jane 200
Liza 1300
Richard 500
Oleg 1000000

In [174]:
for i, person in enumerate(staff_dict.items()):
    print(i+1, person, value['salary'])

1 ('Robert', {'salary': 800, 'bonus': 200, 'status': 'below average'}) 1000000
2 ('Jane', {'salary': 200, 'bonus': 300, 'status': 'below average'}) 1000000
3 ('Liza', {'salary': 1300, 'bonus': 200, 'status': 'above average'}) 1000000
4 ('Richard', {'salary': 500, 'bonus': 1200, 'status': 'below average'}) 1000000
5 ('Oleg', {'salary': 1000000, 'bonus': 300, 'status': 'above average'}) 1000000

In [195]:
# используем цикл
var = 0
for key, value in staff_dict.items():
    var+=1
    print(var, " ", key, "'s salary: ", value['salary'], sep='')

1 Robert's salary: 800
2 Jane's salary: 200
3 Liza's salary: 1300
4 Richard's salary: 500
5 Oleg's salary: 1000000

In [196]:
for key, value in staff_dict.items():
    print( key, "'s salary: ", value['salary'], sep='')

Robert's salary: 800
Jane's salary: 200
Liza's salary: 1300
Richard's salary: 500
Oleg's salary: 1000000

In [197]:
# добавим уровень з/п
for person, info in staff_dict.items():
#     print(person)
    if info['salary'] > 1000:
        info['status'] = 'above average'
    else:
        info['status'] = 'below average'
#     print(f"{person}'s salary: {info['salary']} ({status})")

staff_dict

{'Robert': {'salary': 800, 'bonus': 200, 'status': 'below average'},
 'Jane': {'salary': 200, 'bonus': 300, 'status': 'below average'},
 'Liza': {'salary': 1300, 'bonus': 200, 'status': 'above average'},
 'Richard': {'salary': 500, 'bonus': 1200, 'status': 'below average'},
 'Oleg': {'salary': 1000000, 'bonus': 300, 'status': 'above average'}}

In [200]:
# функция zip
categories = ['Еда', 'Авто', 'Политика', '346346']
audience = [100, 200, 300]

dict(zip(categories, audience))

# categories_dict = dict(zip(categories, audience))
# print(categories_dict)

{'Еда': 100, 'Авто': 200, 'Политика': 300}

## Dict comprehension
Похоже на  list comprehension

In [201]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [202]:
{n: n**2 for n in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [207]:
results = [('date', '2018-01-01'), ('counter', '777'), ('visits', 154)]
{metric: value for (metric, value) in results}

{'date': '2018-01-01', 'counter': '777', 'visits': 154}