# Библиотека Pandas
Когда и зачем использовать

Режим презентации jupyter nbconvert my_script.ipynb --to slides --post serve

https://medium.com/@mjspeck/presenting-code-using-jupyter-notebook-slides-a8a3c3b59d67

In [ ]:
# запуск презентации
!/Users/kbashevoy/anaconda3/bin/jupyter nbconvert Python_10_pandas_presentation_mode.ipynb --to slides --post serve

In [6]:
import pandas as pd

In [10]:
# https://grouplens.org/datasets/movielens/

ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [12]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [14]:
# сколько фильмов в коллекции
len(ratings.movieId.unique())

9066

In [39]:
%%time

# топ пользователей по количеству оценок
ratings.groupby('userId').count().sort_values('movieId', ascending=False).head()

Wall time: 9.48 ms

        movieId  rating  timestamp
userId
547        2391    2391       2391
564        1868    1868       1868
624        1735    1735       1735
15         1700    1700       1700
73         1610    1610       1610

# Lifetime

In [22]:
ratings

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [29]:
ratings_grouped = ratings.groupby('userId').agg([min, max])
ratings_grouped.head()

       movieId        rating        timestamp
           min    max    min  max         min         max
userId
1           31   3671    1.0  4.0  1260759108  1260759205
2           10    720    1.0  5.0   835355395   835356246
3           60  84236    2.0  5.0  1298861589  1298932787
4           10   4006    1.0  5.0   949778714   949982274
5            3  48385    1.5  5.0  1163373044  1163375145

In [36]:
ratings_grouped['diff'] = ratings_grouped['timestamp']['max'] - ratings_grouped['timestamp']['min']
ratings_grouped.sort_values('diff', ascending=False).head()

       movieId         rating        timestamp                   diff
           min     max    min  max         min         max
userId
380          1  140928    0.5  5.0   949367125  1465156786  515789661
547          1  163949    0.5  5.0   974777109  1476587644  501810535
427        246  115174    0.5  5.0   939332587  1415901843  476569256
15           1  161155    0.5  5.0   997937239  1469330735  471393496
624          1  161918    0.5  5.0  1019123866  1476616373  457492507

In [35]:
ratings_grouped['diff'].mean() / 24 / 3600

201.08403940359884

In [40]:
%%time

ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings_grouped = ratings.groupby('userId').agg([min, max])
ratings_grouped['diff'] = ratings_grouped['timestamp']['max'] - ratings_grouped['timestamp']['min']

ratings_grouped['diff'].mean() / 24 / 3600

Wall time: 81.3 ms

201.08403940359884

# JOIN как в SQL

In [42]:
movies = pd.read_csv('ml-latest-small/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [43]:
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama