## Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [24]:
import pandas as pd
ds1 = pd.read_csv('ml-latest-small/ratings.csv')
ds1.head(10)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205
5       1     1263     2.0  1260759151
6       1     1287     2.0  1260759187
7       1     1293     2.0  1260759148
8       1     1339     3.5  1260759125
9       1     1343     2.0  1260759131

In [25]:
ds2 = ds1[ds1['rating']==5]
ds3 = ds2.groupby('movieId').agg(['count'])['userId'].reset_index()\
        .sort_values('count', ascending=False).head(1)
ds4 = str(ds3['movieId'].unique())


f'Итого = {ds4}'

'Итого = [318]'

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [26]:
import pandas as pd
data = pd.read_csv('ml-latest-small/power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [27]:
data4 = data[ (
    (data['country']=='Latvia') \
             | (data['country']=='Lithuania') \
             | (data['country']=='Estonia') 
    ) &
    ((data['category']==4) \
             | (data['category']==12) \
             | (data['category']==21) 
    ) &
    ((data['year']==2005) \
             | (data['year']==2006) \
             | (data['year']==2007) \
             | (data['year']==2008)  \
             | (data['year']==2009) \
             | (data['year']==2010) 
    ) &
    data['quantity'] > 0
    ]
# data4[['country', 'category', 'year']].nunique()

var1_ = data4['quantity'].sum()

f'Итого = {var1_}'

'Итого = 240481.0'

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [23]:
url1 = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
url2 = pd.read_html(url1, attrs = {'class': 'quote_list'}, encoding='utf-8')
url2

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB      1062283      -              1063354
 1          NaN            EUR/RUB       920725      -               921465
 2          NaN            USD/RUB       773262      -               774495
 3          NaN            JPY/RUB        07065      -                07072
 4          NaN            CNY/RUB       118074      -               118381
 5          NaN            CHF/RUB       838122      -               838500
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        11908      -                11899
 8          NaN            EUR/GBP        08667      -                08682
 9          NaN            EUR/JPY      1303130      -              1305100
 10         NaN            EUR/CHF        10986      -                11000
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        08400      -                08404
 13         NaN            USD/GBP        07280      -                07295
 14         NaN            USD/JPY      1094540      -              1097300
 15         NaN            USD/CHF        09228      -                09252
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        07700      -                07700
 18         NaN            JPY/GBP        00067      -                00067
 19         NaN            JPY/USD        00091      -                00091
 20         NaN    JPY/CHF (100:1)        08400      -                08400
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        13737      -                13705
 23         NaN            GBP/JPY      1503570      -              1503713
 24         NaN            GBP/EUR        11537      -                11519
 25         NaN            GBP/CHF        12674      -                12682
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        12674      -                12682
 28         NaN            EUR/CHF        10986      -                11000
 29         NaN    JPY/CHF (100:1)        08400      -                08400
 30         NaN            USD/CHF        09228      -                09252
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       333069      -               331309
 33         NaN            USD/UAH       279761      -               278434
 34         NaN            CHF/UAH       303198      -               300959
 35         NaN            GBP/UAH       384335      -               381664

           %  Абсолютное значение     Время
 0   -0,10 %               -01071  21:27:00
 1   -0,08 %               -00740  21:27:00
 2   -0,16 %               -01233  21:27:00
 3   -0,10 %               -00007  21:27:00
 4   -0,26 %               -00308  21:27:00
 5   -0,05 %               -00378  21:27:00
 6         %  Абсолютное значение     Время
 7    0,07 %                00009  21:27:00
 8   -0,18 %               -00016  21:27:00
 9   -0,15 %               -01970  21:27:00
 10  -0,13 %               -00014  21:27:00
 11        %  Абсолютное значение     Время
 12  -0,05 %               -00005  21:27:00
 13  -0,21 %               -00015  21:27:00
 14  -0,25 %               -02760  21:27:00
 15  -0,25 %               -00024  21:27:00
 16        %  Абсолютное значение     Время
 17   0,15 %                00000  21:27:00
 18   0,01 %                00000  21:27:00
 19   0,22 %                00000  21:27:00
 20  -0,03 %                00000  21:27:00
 21        %  Абсолютное значение     Время
 22   0,23 %                00032  21:27:00
 23  -0,01 %               -00144  21:27:00
 24   0,16 %                00018  21:27:00
 25  -0,06 %               -00008  21:27:00
 26        %  Абсолютное значение     Время
 27  -0,06 %               -00008  21:27:00
 28  -0,13 %               -00014  21:27:00
 29  -0,03 %                00000  21:27:00
 30  -0,25 %               -00024  21:27:00
 31        %  Абсолютное значение     Время
 32   0,53 %                01760  21:26:00
 33   0,48 %                01327  21:27:00
 34   0,74 %                02239  21:27:00
 35   0,70 %                02671  21:27:00  ]