## Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [63]:
ds1 = pd.read_csv('ml-latest-small/ratings.csv')
ds1.head(15)

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194

In [146]:
ds2 = ds1[ds1['rating']==5]
ds3 = ds2.groupby('movieId').agg(['count'])['userId'].reset_index()\
        .sort_values('count', ascending=False).head(1)
ds4 = str(ds3['movieId'].un)


f'Итого = {ds4}'

'Итого = 194    318\nName: movieId, dtype: int64'

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [141]:
import pandas as pd
data = pd.read_csv('ml-latest-small/power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [142]:
data4 = data[ (
    (data['country']=='Latvia') \
             | (data['country']=='Lithuania') \
             | (data['country']=='Estonia') 
    ) &
    ((data['category']==4) \
             | (data['category']==12) \
             | (data['category']==21) 
    ) &
    ((data['year']==2005) \
             | (data['year']==2006) \
             | (data['year']==2007) \
             | (data['year']==2008)  \
             | (data['year']==2009) \
             | (data['year']==2010) 
    ) &
    data['quantity'] > 0
    ]
# data4[['country', 'category', 'year']].nunique()

var1_ = data4['quantity'].sum()

f'Итого = {var1_}'

'Итого = 240481.0'